body {
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    overflow-x: hidden;
    background: linear-gradient(
        65deg,
        #ff7d7d 0%,
        #ffffff 20%,
        #ffffff 80%,
        #7878ff 100%
    );
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}
.main {
    margin-top: 60px;
}
.main > .container + .container {
    margin-top: 60px;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px 40px;
    max-height: 80px;
    overflow-y: hidden;
}
.brand-list > img {
    height: 30px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.main-footer .socials {
    display: flex;
    gap: 5px;
}
.main-footer .socials > a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #36f;
}
.main-footer .socials > a:hover {
    background-color: #36f;
    color: #fff;
}
.main-footer > p {
    margin: 0;
}

.extra {
    display: inline-block;
    margin-bottom: 30px;
    padding: 40px;
    border: 2px solid red;
    position: relative;
}
