body {
    margin: 0;
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.logo {
    height: 30px;
}
header > nav {
    display: flex;
    gap: 30px;
}

header > nav > a {
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: grey;
}
header > a {
    padding: 0.3em 1em;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 2em;
    text-decoration: none;
    border-radius: 0.5em;
}

main {
    margin-top: 60px;
}

main > section + section {
    margin-top: 60px;
}

div {
    float: left;
    width: 35%;
}

section > img {
    float: right;
    width: 55%;
}
